firebase_functions~=0.1.0
fastapi
firebase_admin
fuzzywuzzy
gensim
google.generativeai
joblib
numpy
openai
nltk
pandas
pdfplumber
protobuf
pydantic
PyPDF2
python_docx
python-multipart
spacy
scikit_learn
uvicorn
requests==2.26.0
